force-app/main/default/flows/Booking_SFRP_BookEquipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Selected_Item</name>
        <label>Get Selected Item</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>FlowCollectionItemFinder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Available_Quantity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__collection</typeName>
            <typeValue>Available_Equipment__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>Available_Equipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>collection</name>
            <value>
                <elementReference>Get_Available_Equipment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Input_Equipment_Radio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowCollectionItemFinder</nameSegment>
        <outputParameters>
            <assignToReference>selectedAvailableEquipment</assignToReference>
            <name>record</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Equipment_Booking</name>
        <label>Set Equipment Booking</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>equipmentBooking.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipment_Booking_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TREX1__Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TREX1__End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TREX1__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EQUIPMENT_BOOKING_RECORD_TYPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Parent_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Number_of_Equipment_Booked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Event_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strEquipmentBookingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>equipmentBooking.TREX1__Equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAvailableEquipment.Equipment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Equipment_Booking</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EQUIPMENT_BOOKING_RECORD_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Available_Quantity</name>
        <label>Check Available Quantity</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Equipment_Booking_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Greater_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAvailableEquipment.Total_Quantity_Bookable__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Quantity_Screen</targetReference>
            </connector>
            <label>Quantity Greater Than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Available_Equipment</name>
        <label>Check Get Available Equipment</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Available Equipment Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Available_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Equipment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Equipment_Screen</targetReference>
            </connector>
            <label>Got Available Equipment</label>
        </rules>
    </decisions>
    <description>Screen flow, record page. Book available equipment for the related facility.</description>
    <dynamicChoiceSets>
        <name>collChoiceAvailableEquipment</name>
        <collectionReference>Get_Available_Equipment</collectionReference>
        <dataType>String</dataType>
        <displayField>Equipment_Name__c</displayField>
        <object>Available_Equipment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>strEquipmentBookingName</name>
        <dataType>String</dataType>
        <expression>{!selectedAvailableEquipment.Equipment_Name__c} &amp; &quot; Booking&quot;</expression>
    </formulas>
    <interviewLabel>Booking SFRP BookEquipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking SFRP BookEquipment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Equipment_Booking</name>
        <label>Insert Equipment Booking</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>equipmentBooking</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Equipment</name>
        <label>Get Available Equipment</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Available_Equipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.TREX1__Facility__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Available_Equipment__c</object>
        <sortField>Equipment_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipment_Booking_Record_Type</name>
        <label>Get Equipment Booking Record Type</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Equipment_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EQUIPMENT_BOOKING_RECORD_TYPE</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TREX1__Booking__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttConfirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Equipment_Screen</name>
        <label>Select Equipment Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Item</targetReference>
        </connector>
        <fields>
            <name>Select_Equipment_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Equipment_Radio</name>
            <choiceReferences>collChoiceAvailableEquipment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Equipment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Quantity_Screen</name>
        <label>Select Quantity Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Equipment_Booking_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Select_Quantity_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Available_Equipment</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Equipment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttConfirmationMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;All set! The {!selectedAvailableEquipment.Equipment_Name__c} has been added to your booking.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttScreenHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Book Stuff&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>equipmentBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Booking__c</objectType>
    </variables>
    <variables>
        <name>numQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Booking__c</objectType>
    </variables>
    <variables>
        <name>selectedAvailableEquipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Available_Equipment__c</objectType>
    </variables>
</Flow>
